/* Allgemein */
body, html {
    width: 100%;
    margin: 0;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Login */
#loginOverlay, #timeInputOverlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

#loginOverlay > form, #createEntryForm {
    background-color: #F4F4F4;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px #B0B0B0;
}

#loginOverlay > form label, #createEntryForm label {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

input[type=text], input[type=password], input[type=date], input[type=time] {
    width: 300px;
}

.button {
    display: block;
    width: 200px;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid #909090;
    background-color: #E0E0E0;
    cursor: pointer;
    text-align: center;
}

.button:hover {
    background-color: #E9E9E9;
}

.button.green {
    background-color: #BDFFBD;
}

.button.green:hover {
    background-color: #D2FFD2;
}

.button.yellow {
    background-color: #FFFFBD;
}

.button.yellow:hover {
    background-color: #FFFFD2;
}

.button.red {
    background-color: #FFBDBD;
}

.button.red:hover {
    background-color: #FFD2D2;
}

.errorMessage {
    font-size: 70%;
    color: #D04545;
    margin-top: -10px;
    display: none;
}

/* Inhalt */
.container {
    margin: 150px 0 20px 0;
    width: 1000px;
}

.navigation {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    width: calc(100% - 100px);
    padding: 20px 50px;
    background-color: #E0E0E0;
    box-shadow: 0 0 10px #A0A0A0;
}

.close {
    margin-left: 280px;
    cursor: pointer;
}
/* table */
th {
    text-align: left;
}

td button {
    margin: 5px 10px;
}